/*________________________Menu Déroulant_____________________*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato';
}


.nav_deroulant ul{
    list-style-type: none;
}

.nav_deroulant ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

.nav_deroulant ul::after{
    content: "";
    display: taple;
    clear: both;
}

.nav_deroulant a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.nav_deroulant a:hover{
    color: red;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color: white;
    position: absolute;
    z-index: 1000;
}

.nav_deroulant > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.deroulant > a::after{
    content: "▼";
    font-size: 12px;
}
